<ul class="list-group">
    <li class="list-group-item mx-3" *ngFor="let item of model">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex flex-column mr-2">
                    <button class="btn btn-danger button-icon-medium" type="button" (click)="remove(item)"
                        matTooltip="Delete this credential. Watch out!, this can impact on any script that is currently."
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <div class="d-flex flex-column">
                    <a href="javascript:void(0)" (click)="goToEdit(item)">
                        <span class="menu-icon"
                            [ngClass]="{
                                'icon-credential-windows': item.credentialType == credentialTypes.Windows,
                                'icon-credential-aws': item.credentialType == credentialTypes.AWS,
                                'icon-credential-apikey': item.credentialType == credentialTypes.APIKey
                              }" matTooltip="{{ getTooltipForCredentialType(item) }}"
                              matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"></span>
                        <span [innerHtml]="getText(item.name, false)" matTooltip="{{ getTooltipMessage(item) }}"
                            matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"></span>
                        <span class="ml-2 badge badge-pill" [ngClass]="{
                            'badge-secondary': item['testStatus'] == undefined || item['testStatus'] == testStatusEnum.NotTested,
                            'badge-primary': item['testStatus'] == testStatusEnum.Ok,
                            'badge-danger': item['testStatus'] == testStatusEnum.Error
                          }"
                          [innerHtml]="getTestStatusMessage(item)"></span>
                    </a>
                    <span *ngIf="item.description" class="text-mini description" 
                        [innerHtml]="getText(item.description, true)"></span>
                </div>
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-primary ml-2" type="button" (click)="test(item)" 
                matTooltip="Test credential healthiness. This will ensure the credential secret data is accessible for the scripts."
                matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">Test</button>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <span class="text-subtle description" [innerHtml]="getLastUpdate(item)"
            [matTooltip]="getLastUpdateTooltip(item)"
            matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"></span>
        </div>
    </li>
</ul>