<form [formGroup]="fg">
    <div class="form-group">
        <label for="userName" class="data-required">User name</label>
        <input type="text" class="form-control" id="userName" aria-describedby="userName"
            placeholder="Here the user name." formControlName="userName" required>
        <app-validation-message [control]="fg.controls.userName"></app-validation-message>
    </div>
    <div class="form-group">
        <label for="domain">Domain</label>
        <input type="text" class="form-control" id="domain" aria-describedby="domain"
            placeholder="Optional domain name like 'MyDomain' in MyDomain\MyUser." formControlName="domain">
        <app-validation-message [control]="fg.controls.domain"></app-validation-message>
    </div>
    <div class="form-group">
        <label for="password" class="data-required">Password</label>
        <div class="d-flex justify-content-center">
            <input [type]="viewPassword ? 'text' : 'password'" 
              class="form-control" id="password" aria-describedby="password"
              placeholder="123456... Nahh! just a joke." formControlName="password" required>
            <button class="btn btn-primary button-icon-regular ml-1" (click)="toggleViewPassword()" >
              <i class="fas" [ngClass]="{
                'fa-eye-slash': !viewPassword,
                'fa-eye': viewPassword
              }"></i>
            </button>
          </div>
        <app-validation-message [control]="fg.controls.password"></app-validation-message>
    </div>
</form>