	/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--colors-background) !important;
}

.user_card {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--colors-primary);
    position: relative;
    justify-content: center;
    border-radius: 5px;
}

.form_container {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.white-text {
    color: var(--colors-white);
}

.brand_logo_container {
    position: absolute;
    height: 128px;
    width: 111px;
    top: -29px;
    border-radius: 47%;
    background: var(--colors-primary);
    padding: 11px;
    text-align: center;
    border: 3px solid var(--colors-white);
}

.brand_logo {
    height: 80px;
    margin-top: 17px;
}

.message {
    padding: 10px;
    border-radius: 5px;
}

.error-message {
    color: red;
    background-color: var(--colors-warning);
}
