<ul class="list-group">
    <li class="list-group-item mx-3" *ngFor="let item of model">
        <div class="d-flex justify-content-between">

            <div class="d-flex">
                <div *ngIf="isAdmin" class="d-flex flex-column mr-2">
                    <button class="btn btn-secondary button-icon-medium mb-1" type="button" (click)="duplicate(item._id)"
                        matTooltip="Clone this workflow! A duplicate will be created so you can tweak it easily."
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-danger button-icon-medium" type="button" (click)="remove(item)"
                        matTooltip="Delete this workflow. Watch out!, this operation can't be undone."
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <div class="d-flex flex-column">
                    <a href="javascript:void(0)" (click)="goToEditWorkflow(item._id)">
                        <span [innerHtml]="getText(item.name, false)"></span>
                    </a>
                    <span *ngIf="item.description" class="text-mini description" 
                        [innerHtml]="getText(item.description, true)"></span>
                </div>
            </div>
            <div class="d-flex flex-column">
                <button class="btn btn-primary ml-2" type="button" (click)="run(item._id)">Run</button>
            </div>
            
        </div>
        <div class="d-flex justify-content-end">
            <span class="text-subtle description" [innerHtml]="getLastUpdate(item)"
            [matTooltip]="getLastUpdateTooltip(item)"
            matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"></span>
        </div>
    </li>
</ul>