<div class="container-fluid mt-2">
    <div *ngIf="workflowStatus == 'RUNNING' && currentContext.currentStep" class="d-flex align-items-end flex-column mt-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" [disabled]="cancelling"
                (click)="cancel()">{{(cancelling)? "Cancellation in progress..." : "Cancel"}}</button>
            <div class="d-flex align-items-center mx-2">
                <span class="text-mini mx-2">Abort on<br>next step</span>
                <mat-slide-toggle color="primary" [disabled]="cancelling" [(ngModel)]="killOption">
                </mat-slide-toggle>
                <span class="text-mini mx-2">Stop immediattely!<br>(kill process).</span>
            </div>
        </div>
    </div>
    <div *ngIf="currentContext.workflowName" class="row mt-2">
        <div class="col-11">
            <div class="row">
                <div class="col-12">
                    <app-status-icon size="big" [status]="workflowStatus" tooltipText="Workflow status"
                    class="mr-2"></app-status-icon>
                    <span class="title overflowEllipsis align-bottom">{{ currentContext.workflowName }}</span>
                </div>
                <div class="col-12 subtitle d-block d-md-none">{{ statusMessage }}</div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div *ngIf="currentContext.currentStep" class="col-3 d-none d-md-block">
            <ul class="list-group">
                <li *ngFor="let step of currentContext.steps" class="list-group-item simpleList">
                    <app-status-icon size="small" [status]="step.status" 
                    tooltipText="Step status" tooltipPosition="right" class="mr-1"></app-status-icon>
                    {{ (step) ? step.stepName : "" }}
                </li>
            </ul>
        </div>
        <div *ngIf="hasMessages" [ngClass]="{
            'col-md-9': currentContext.currentStep > 0,
            'col-md-12': currentContext.currentStep == 0
        }" class=" col-sm-12">
            <div id="container" class="d-flex flex-column console" #container>
                <app-console-line *ngFor="let message of model" [model]="message"></app-console-line>
            </div>
        </div>
    </div>
</div>