.console {
    font-family: monospace, 'Courier New';
    font-size: .9rem;
    background-color: var(--colors-primary);
    color: var(--accent-lighter-color);
    height: 300px;
    max-height: 800px;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}

.simpleList {
    border: none;
    background-color: transparent;
}

.content-container {
    overflow: auto;
}

.step-header {
    background-color: var(--colors-highlight);
    height: 47px !important
}


