<div class="container-fluid mt-2">
    <div *ngIf="workflowStatus == 'RUNNING' && currentContext.currentStep" 
        class="d-flex align-items-start flex-column mt-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" [disabled]="cancelling || aborting" 
                (click)="cancel(false)">
                {{(cancelling)? "Cancellation in progress..." : "Cancel"}}
                <div *ngIf="!cancelling" class="text-subtle">Prevent next steps to start.</div>
            </button>
            <button type="button" class="btn btn-danger ml-2" [disabled]="cancelling || aborting" 
                (click)="cancel(true)">
                {{(aborting)? "Aborting execution ..." : "Kill it!"}}
                <div *ngIf="!aborting" class="text-subtle">Stop the execution immediately.</div>
            </button>
        </div>
    </div>
    <div *ngIf="currentContext.workflowName" class="mt-2">
        <div class="row">
            <div class="d-flex">
                <div *ngIf="executionPercentage > 0 else altIcon" class="d-flex">
                    <app-cool-spiner [percentage]="executionPercentage" 
                    class="align-self-center ml-2"></app-cool-spiner>
                </div>
                <ng-template #altIcon>
                    <app-status-icon size="big" [status]="workflowStatus" tooltipText="Workflow status"
                    class="align-self-center ml-2"></app-status-icon>
                </ng-template>
                <span class="title overflowEllipsis align-self-center ml-2">{{ currentContext.workflowName }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 subtitle d-block d-md-none">{{ statusMessage }}</div>
        </div>
    </div>
    <div class="row mt-2">
        <div *ngIf="currentContext.currentStep" class="col-3 d-none d-md-block">
            <ul class="list-group">
                <li *ngFor="let step of currentContext.steps" class="list-group-item simpleList">
                    <app-status-icon size="small" [status]="step.status" 
                    tooltipText="Step status" tooltipPosition="right" class="mr-1"></app-status-icon>
                    {{ (step) ? step.stepName : "" }}
                </li>
            </ul>
        </div>
        <div *ngIf="hasMessages" [ngClass]="{
            'col-md-9': currentContext.currentStep > 0,
            'col-md-12': currentContext.currentStep == 0
        }" class=" col-sm-12">
            <div id="container" class="d-flex flex-column console" #container>
                <app-console-line *ngFor="let message of model" [model]="message"></app-console-line>
            </div>
        </div>
    </div>
</div>