<p>run works!</p>
<button type="button" (click)="testWS()">Test Powershell on Node!!! (WS)</button>
<div class="container console">
    <div class="d-flex flex-row">
        <div class="d-inline-flex">Column1xxxxxxxxxxxxxxxxxxxxxxxxxx</div>
        <div class="d-inline-flex">Column2</div>
        <div class="d-flex">Column3 Sit amet volutpat consequat mauris nunc congue nisi. Curabitur gravida arcu ac tortor dignissim. Id cursus metus aliquam eleifend mi in. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. </div>
    </div>
    This is sample text
</div>