<a id="topSearch"></a>
<div class="container mt-2">
    <form [formGroup]="fg">
        <div class="d-flex flex-column justify-content-center">
            <div class="input-group input-group-md mt-2">
                <div class="w-25 d-sm-block d-none"></div>
                <input type="text" class="form-control search-input" aria-label="Search" id="searchText"
                    placeholder="Enter here the search criteria ..."
                    formControlName="searchText" required>
                <div class="input-group-append">
                    <button class="btn btn-secondary" [disabled]="!fg.valid" (click)="search()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="w-25 d-sm-block d-none"></div>
            </div>
            <app-validation-message class="text-center" [control]="fg.controls.searchText"></app-validation-message>
        </div>
        <div class="mt-2 d-flex justify-content-around">
            <div class="custom-control custom-radio">
                <input type="radio" id="searchType1" formControlName="searchType" class="custom-control-input"
                    [value]="searchTypeEnum.Workflows">
                <label class="custom-control-label" for="searchType1">Workflows</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="searchType2" formControlName="searchType" class="custom-control-input"
                    [value]="searchTypeEnum.Scripts">
                <label class="custom-control-label" for="searchType2">Scripts</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="searchType3" formControlName="searchType" class="custom-control-input"
                    [value]="searchTypeEnum.Targets">
                <label class="custom-control-label" for="searchType3">Targets</label>
            </div>
        </div>
    </form>

    <div class="mt-4" *ngIf="svcInfScroll && svcInfScroll.model && svcInfScroll.model.length > 0; else NoData"
        infinite-scrolling [scrollWindow]="true" (scrollEnd)="onScrollEndHandler($event)">
        <div [ngSwitch]="fg.controls.searchType.value">
            <div *ngSwitchCase="searchTypeEnum.Workflows">
                <div *ngIf="currentSearchType == searchTypeEnum.Workflows">
                    <app-search-workflow-line [model]="svcInfScroll.model"></app-search-workflow-line>
                </div>
            </div>
            <div *ngSwitchCase="searchTypeEnum.Scripts">
                <div *ngIf="currentSearchType == searchTypeEnum.Scripts">
                    <app-search-script-line [model]="svcInfScroll.model"></app-search-script-line>
                </div>
            </div>
            <div *ngSwitchCase="searchTypeEnum.Targets">
                <div *ngIf="currentSearchType == searchTypeEnum.Targets">
                    <app-search-target-line [model]="svcInfScroll.model"></app-search-target-line>
                </div>
            </div>
        </div>
        <button *ngIf="svcInfScroll.lastPageRendered > 1" type="button" pageScroll href="#topSearch"
            class="btn btn-primary button-circular floating-bottom-right float-bottom-second-line"
            matTooltip="Click here to go back to the first results." matTooltipPosition="left" (click)="fullScrollUp()">
            <i class="fas fa-angle-double-up"></i>
        </button>
        <button [hidden]="svcInfScroll.lastPageRendered == svcInfScroll.pageCount" type="button" pageScroll
            href="#bottomSearch" class="btn btn-primary button-circular floating-bottom-right"
            matTooltip="Click here to jump forward to the last results for this search." matTooltipPosition="left"
            (click)="fullScrollDown()">
            <i class="fas fa-angle-double-down"></i>
        </button>
    </div>
    <ng-template #NoData>
        <div *ngIf="svcInfScroll && this.fg.enabled" class="row justify-content-center mr-0">
            <div class="col col-lg-8 mt-4">
                <div class="alert fade show alert-info" role="alert">
                    <strong>The last search retrieves no data.</strong>&nbsp;Please try refining your search.
                    <div class="mt-2">
                        Also recall that you can:
                        <ul>
                            <li>Perform an strict search by enclosing the search term in double quotes like:
                                <ol><i>"break down"</i> or <i>"warm up"</i></ol>
                            </li>
                            <li>In a text search, (without using quotes), exclude particular words like:
                                <ol><i>extract files -database</i> or <i>web Apache -IIS -nginx</i></ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<a id="bottomSearch"></a>