<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
  
  </div>
  <button type="button" class="btn btn-primary" (click)="goToHome()">Go to Home!!!</button>
  <hr>
  <button type="button" class="btn btn-primary" (click)="throwErrorTest()">Test ERRRRRROR!</button>
  <hr>
  <button type="button" class="btn btn-primary" (click)="showToast()">Show toaster</button>
  <hr>
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>{{ title }} app is running!</span>
    </div>
  
    <!-- Resources -->
    <h2>Testing Dependencies</h2>
  
    <div class="card-container">
      <p>Bootstrap:</p>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
    <div class="card-container">
      <p>Font Awesome:</p>
      <p>Here Font awesome fab:<i class="fab fa-500px fa-3x"></i></p>
      <p>Here Font awesome fas:<i class="fas fa-500px"></i></p>
    </div>
    <div class="card-container">
      <p>ng-multiselect-dropdown:</p>
      <!--  Place [settings] always before [data]: -->
      <ng-multiselect-dropdown [placeholder]="'custom placeholder'" 
        [settings]="dropdownSettings" 
        [data]="dropdownList" [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>
  
  </div>
  
<!--   
  <router-outlet></router-outlet> -->