<h1>SANDBOX!</h1>
<hr>
<div class="container">
  <div>
    <p><strong>
        <h2>Test Logo</h2>
      </strong></p>
    <hr>
    <img src="../../assets/img/logo2.png" alt="Propel" class="d-inline-block" style="width: 21rem;">
    <img src="../../assets/img/logo2-white.svg" alt="Propel" class="d-inline-block" style="width: 21rem;">

  </div>
  <div>
    <p><strong>
        <h2>Functionality Test:</h2>
      </strong></p>
    <hr>
    <button type="button" class="btn-secondary" (click)="goToHome()">Go to Home!!!</button><button type="button"
      class="btn-secondary" (click)="throwErrorTest()">Test ERRRRRROR!</button>
    <button type="button" class="btn-secondary" (click)="showToastError()">Show toaster Error</button>
    <button type="button" class="btn-secondary" (click)="showToastInfo()">Show toaster Info</button>
    <button type="button" class="btn-secondary" (click)="showToastWarning()">Show toaster Warning</button>
    <button type="button" class="btn-secondary" (click)="showToastSuccess()">Show toaster Success</button>
    <button type="button" class="btn-secondary" (click)="testGetById()">testGetById</button>
    <button type="button" class="btn-secondary" (click)="testFind()">testFind</button>
    <button type="button" class="btn-secondary" (click)="testInsert()">testInsert</button>
    <button type="button" class="btn-secondary" (click)="testUpdate()">testUpdate</button>
    <button type="button" class="btn-secondary" (click)="testDelete()">testDelete</button>
  </div>
  <div>

    <p><strong>
        <h2>Typography:</h2>
      </strong></p>
    <hr>

    <div>
      <p><strong>
          <h3>Headings:</h3>
        </strong></p>
      <h1>h1. Bootstrap heading</h1>
      <h2>h2. Bootstrap heading</h2>
      <h3>h3. Bootstrap heading</h3>
      <h4>h4. Bootstrap heading</h4>
      <h5>h5. Bootstrap heading</h5>
      <h6>h6. Bootstrap heading</h6>
    </div>
    <div>
      <p><strong>
          <h3>Simple Paragraph:</h3>
        </strong></p>
      <p>Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Egestas egestas fringilla phasellus
        faucibus scelerisque eleifend donec pretium vulputate. Sit amet purus gravida quis blandit turpis cursus in hac.
        Erat pellentesque adipiscing commodo elit at imperdiet dui. Vivamus arcu felis bibendum ut.</p>
    </div>
    <div>
      <p><strong>
          <h3>Links:</h3>
        </strong></p>
      <a href="#">Link 1</a><br>
      <a href="#">Link 2</a><br>
      <a href="#">Link 3</a>
    </div>

    <p><strong>
        <h2>Dependencies:</h2>
      </strong></p>
    <hr>

    <div>
      <p><strong>
          <h3>Charts:</h3>
        </strong></p>
      <div class="row">
        <ngx-charts-number-card [results]="single" [view]="view" [scheme]="colorScheme"  
          [cardColor]="cardColor"
          (select)="onSelectChart($event)">
        </ngx-charts-number-card>
      </div>
      <div class="row">
        <ngx-charts-bar-vertical [results]="single"  
          [view]="view" [scheme]="colorScheme" 
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" 
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" 
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelectChart($event)">
        </ngx-charts-bar-vertical>
      </div>
      <div class="row">
        <ngx-charts-bar-vertical-2d [results]="multi"  
          [view]="view" [scheme]="colorScheme" 
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" 
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" 
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelectChart($event)">
        </ngx-charts-bar-vertical-2d>
      </div>
      <div class="row">
        <ngx-charts-line-chart [results]="multiRotated"  
          [view]="view" [scheme]="colorScheme" 
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" 
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" 
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelectChart($event)">
        </ngx-charts-line-chart>
      </div>
      <div class="row">
        <ngx-charts-area-chart [results]="multiRotated"  
          [view]="view" [scheme]="colorScheme" 
          [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" 
          [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" 
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
          (select)="onSelectChart($event)">
        </ngx-charts-area-chart>
      </div>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap NavBar:</h3>
        </strong></p>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand navbar-brand-collapsed ml-2 navbar-iso" href="javascript:void(0)" (click)="goToHome()">
          <img src="../../assets/img/logo2-white.svg" alt="Propel"
            class="d-inline-block align-text-top navbar-logo">propel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Workflow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Script</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Target</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">History</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Browse
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Workflows</a>
                <a class="dropdown-item" href="#">Scripts</a>
                <a class="dropdown-item" href="#">Targets</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Buttons:</h3>
        </strong></p>
      <p><strong>
          <h4>Buttons enabled:</h4>
        </strong></p>
      <button type="button" class="btn btn-primary mx-2">Primary</button>
      <button type="button" class="btn btn-secondary mx-2">Secondary</button>
      <button type="button" class="btn btn-danger mx-2">Danger</button>
      <p><strong>
          <h4>Buttons disabled:</h4>
        </strong></p>
      <button type="button" class="btn btn-primary mx-2" disabled>Primary</button>
      <button type="button" class="btn btn-secondary mx-2" disabled>Secondary</button>
      <button type="button" class="btn btn-danger mx-2" disabled>Danger</button>
      <p><strong>
          <h4>Buttons circular:</h4>
        </strong></p>
      <button type="button" class="btn btn-primary button-circular-small mx-2"><i class="far fa-bell"></i></button>
      <button type="button" class="btn btn-primary button-circular mx-2"><i class="far fa-bell"></i></button>
      <!-- Below button will be floating at the bottom right of the viewport -->
      <button type="button" class="btn btn-primary button-circular floating-bottom-right"
        matTooltip="This is an ever visible and floating button!" matTooltipPosition="left">
        <i class="far fa-bell"></i>
      </button>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Alerts:</h3>
        </strong></p>
      <div class="alert alert-dismissible fade show alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Well done!</strong> You can dismiss this message with the X button.
      </div>
      <div class="alert alert-dismissible fade show alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Well done!</strong> You can dismiss this message with the X button.
      </div>
      <div class="alert alert-dismissible fade show alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Well done!</strong> You can dismiss this message with the X button.
      </div>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Badges:</h3>
        </strong></p>
      <span class="badge badge-pill badge-primary">Primary Pill Badge</span>
      <span class="badge badge-pill badge-secondary">Secondary Pill Badge</span>
      <span class="badge badge-pill badge-danger">Danger Badge!</span>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Forms:</h3>
        </strong></p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
      </form>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap List:</h3>
        </strong></p>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item justify-content-between">
          Cras justo odio
          <span class="badge badge-default badge-pill">14</span>
        </li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item list-group-item-primary">Dapibus ac facilisis in</li>
      </ul>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Tables:</h3>
        </strong></p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Accumsan tortor posuere ac ut
              consequat semper viverra.</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <p><strong>
          <h3>Bootstrap Cards:</h3>
        </strong></p>
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Test card header</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
          </div>
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p><strong>
          <h2>Font Awesome:</h2>
        </strong></p>
      <hr>
      <p>Here Font awesome fab:<i class="fab fa-500px fa-3x"></i></p>
    </div>
    <div>
      <p><strong>
          <h2>Angular Material:</h2>
        </strong></p>
      <hr>
      <p><strong>
          <h4>Slide toggle Primary:</h4>
        </strong></p>
      <mat-slide-toggle color="primary">
        Slide me Primary!
      </mat-slide-toggle>
      <p><strong>
          <h4>Slide toggle Accent:</h4>
        </strong></p>
      <mat-slide-toggle color="accent">
        Slide me Accent!
      </mat-slide-toggle>
      <p><strong>
          <h4>Disabled Slide toggle:</h4>
        </strong></p>
      <mat-slide-toggle disabled="true">
        I'm Disabled :(
      </mat-slide-toggle>
      <p><strong>
          <h4>Tabs:</h4>
        </strong></p>
      <mat-tab-group backgroundColor="primary" color="primary">
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group>
      <p><strong>
          <h4>Tooltips:</h4>
        </strong></p>
      <!--Tooltip positions: ['after', 'before', 'above', 'below', 'left', 'right']; -->
      <button type="button" class="btn btn-primary" matTooltip="Info about the action"
        matTooltipPosition="above">Primary</button>
      <button type="button" class="btn btn-secondary" matTooltip="Info about the action"
        matTooltipPosition="right">Secondary</button>
      <button type="button" class="btn btn-danger" [matTooltip]="tooltipSample" matTooltipPosition="right">Programmatic
        tooltip</button>
      <button type="button" class="btn" matTooltip="{{tooltipSampleLong}}" matTooltipClass="tooltipsWithBreakLines"
        matTooltipPosition="right">Programmatic long text with break lines tooltip</button>
      <p><strong>
          <h4>Dialogs:</h4>
        </strong></p>
      <button type="button" class="btn-secondary" (click)="showLongConfirmationDialog()">Show Long Confirmation</button>
      <button type="button" class="btn-secondary" (click)="showShortConfirmationDialog()">Show Short
        Confirmation</button>
      <button type="button" class="btn-secondary" (click)="showEntityDialog()">Show Entity Dialog</button>

      <p class="my-4"><strong>
          <h4>Progress Bar:</h4>
        </strong></p>

      <p class="my-3"><strong>
          <h5>Determinate:</h5>
        </strong></p>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>

      <p class="my-3"><strong>
          <h6>(color=accent):</h6>
        </strong></p>
      <mat-progress-bar mode="determinate" color="accent" value="60"></mat-progress-bar>

      <p class="my-3"><strong>
          <h6>(color=warn):</h6>
        </strong></p>
      <mat-progress-bar mode="determinate" color="warn" value="60"></mat-progress-bar>

      <p class="my-3"><strong>
          <h5>Indeterminate:</h5>
        </strong></p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>

      <p class="my-3"><strong>
          <h5>Buffer:</h5>
        </strong></p>
      <mat-progress-bar mode="buffer"></mat-progress-bar>

      <p class="my-3"><strong>
          <h5>Query:</h5>
        </strong></p>
      <mat-progress-bar mode="query"></mat-progress-bar>

      <p class="my-3"><strong>
          <h4>Progress Bar Experiments:</h4>
        </strong></p>
      <p class="my-3"><strong>
          <h5>Thicker with text inside and Buffer above:</h5>
        </strong></p>
      <div>
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        <mat-progress-bar mode="determinate" color="accent" value="30" style="height: 2.2rem;"></mat-progress-bar>
        <span class="ml-2" style="position: relative; top: -1.8rem; font-weight: 500;">Progress of the activity that is
          in progress 25%</span>
      </div>

      <p class="my-3"><strong>
          <h5>Thicker with text inside and spinner:</h5>
        </strong></p>
      <div>
        <mat-progress-bar mode="determinate" color="accent" value="30" style="height: 2.2rem;">
        </mat-progress-bar>
        <div class="ml-2"
          style="position: relative; top: -1.85rem; left: 1.7rem; font-weight: 500; max-height: 1.5rem; overflow: hidden;">
          Progress of the activity that is in progress 25%</div>
        <mat-progress-spinner mode="indeterminate" value="100" diameter="22" strokeWidth="4"
          style="position: relative; top: -3.3rem; left: 0.5rem;"></mat-progress-spinner>
      </div>

      <p class="my-3"><strong>
          <h5>Thicker with text inside and spinner (V2.0):</h5>
        </strong></p>
      <div>
        <p>First try</p>
        <div class="progress">
          <div class="progress-bar w-50" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100">
            text in bar</div>
          <div>text in bar 2 with a larger text to display below</div>
        </div>

        <p>Second try</p>
        <div style="width: 100%;
        max-height: 1.4rem;
        background-color: aquamarine;">
          <div style="color: blue;
          overflow: hidden;
          word-break: break-all;
          max-height: 1.4rem;
          width: 100%;">Text to display</div>
          <div style="color: red;
          position: relative;
          top: -1.4rem;
          width: 45%;
          overflow: hidden;
          word-break: break-all;
          max-height: 1.4rem;
          background-color: blueviolet;">Text to display</div>
        </div>

        <p>Third try</p>
        <div class="d-flex flex-row">
          <div class="mb-1">
            <mat-progress-spinner mode="indeterminate" color="accent" value="100" diameter="22" strokeWidth="4">
            </mat-progress-spinner>
          </div>
          <div class="mb-1">
            <span class="p-1">Progress of the activity that is in progress 25%</span>
          </div>
        </div>
        <div class="d-flex flex-row">
          <mat-progress-bar mode="determinate" color="accent" value="30">
          </mat-progress-bar>
        </div>

        <p class="my-4"><strong>
            <h4>Spinner:</h4>
          </strong></p>

        <p class="my-3"><strong>
            <h5>Determinate (33%):</h5>
          </strong></p>
        <mat-progress-spinner mode="determinate" value="33"></mat-progress-spinner>

        <p class="my-3"><strong>
            <h5>Indeterminate:</h5>
          </strong></p>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

        <p class="my-3"><strong>
            <h5>Indeterminate (color=accent):</h5>
          </strong></p>
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>

        <p class="my-3"><strong>
            <h5>Indeterminate (color=warn):</h5>
          </strong></p>
        <mat-progress-spinner mode="indeterminate" color="warn"></mat-progress-spinner>

        <p class="my-3"><strong>
            <h4>Spinner Experiments:</h4>
          </strong></p>
        <p class="my-3"><strong>
            <h5>Cool spinner with text:</h5>
          </strong></p>
        <div class="spinner-custom">
          <mat-progress-spinner [mode]="rangeMode" value="100" color="accent" diameter="84" strokeWidth="3">
          </mat-progress-spinner>
          <mat-progress-spinner mode="determinate" [value]="rangeValue" color="accent" diameter="80" strokeWidth="10">
          </mat-progress-spinner>
          <div class="text-center">{{rangeValue}}%</div>
        </div>
        <input type="range" min=0 max=100 [(ngModel)]="rangeValue">
      </div>

      <div>
        <p><strong>
            <app-status-icon size="big" status="SUCCESS"></app-status-icon>
            <h2>Propel Icons:</h2>
          </strong></p>
        <hr>
        <ul class="list-group">
          <li class="list-group-item">PENDING:
            <app-status-icon size="small" status="PENDING"></app-status-icon>
            <app-status-icon size="big" status="PENDING"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="PENDING"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">FAULTY:
            <app-status-icon size="small" status="FAULTY"></app-status-icon>
            <app-status-icon size="big" status="FAULTY"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="FAULTY"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">SUCCESS:
            <app-status-icon size="small" status="SUCCESS"></app-status-icon>
            <app-status-icon size="big" status="SUCCESS"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="SUCCESS"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">ABORTED:
            <app-status-icon size="small" status="ABORTED"></app-status-icon>
            <app-status-icon size="big" status="ABORTED"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="ABORTED"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">CANCELLED:
            <app-status-icon size="small" status="CANCELLED"></app-status-icon>
            <app-status-icon size="big" status="CANCELLED"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="CANCELLED"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">SKIPPED:
            <app-status-icon size="small" status="SKIPPED"></app-status-icon>
            <app-status-icon size="big" status="SKIPPED"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="SKIPPED"></app-status-icon>
            </div>
          </li>
          <li class="list-group-item">RUNNING:
            <app-status-icon size="small" status="RUNNING"></app-status-icon>
            <app-status-icon size="big" status="RUNNING"></app-status-icon>
            <div class="d-flex justify-content-center align-items-center"
              style="background-color: black; height:30px; width:30px;">
              <app-status-icon size="small" iconStyle="dark" status="RUNNING"></app-status-icon>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <p><strong>
            <h2>Reactive Forms sample: </h2>
          </strong>
        </p>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="testWithData" name="testWithData"
            [(ngModel)]="testWithData" (change)="testWithDataChanged()">
          <label class="custom-control-label" for="testWithData">Test with data, (like an update form)</label>
        </div>
        <hr>

        <form [formGroup]="sampleForm" (ngSubmit)="sampleFormSubmit()">
          <div class="form-group">
            <label for="name" class="data-required">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name"
              placeholder="Enter your name (min: 3 chars, max: 10 chars)" formControlName="name" required>
            <small *ngIf="getErrorText(this.sampleForm.controls.name)" class="form-text data-invalid-message">{{
              getErrorText(this.sampleForm.controls.name) }}</small>
            <small class="form-text text-muted">Current control status:
              {{ sampleFormOrControlStatus(this.sampleForm.controls.name) }}</small>
          </div>
          <div class="form-group">
            <label class="data-required mr-2">Disabled</label>
            <mat-slide-toggle color="primary" id="enabled" formControlName="enabled">
            </mat-slide-toggle>
            <label class="ml-2">Enabled</label>
            <small *ngIf="getErrorText(this.sampleForm.controls.enabled)" class="form-text data-invalid-message">{{
              getErrorText(this.sampleForm.controls.enabled) }}</small>
            <small class="form-text text-muted">Current control status:
              {{ sampleFormOrControlStatus(this.sampleForm.controls.enabled) }}</small>
          </div>
          <div class="form-group">
            <label class="data-required mr-2" for="simpleSelect">Selection of simple value</label>
            <ng-select [items]="countries" [selectOnTab]="true" bindValue="_id" bindLabel="name"
              labelForId="simpleSelect" [compareWith]="compareFn" placeholder="Select a country"
              formControlName="country">
            </ng-select>
            <small *ngIf="getErrorText(this.sampleForm.controls.country)" class="form-text data-invalid-message">{{
              getErrorText(this.sampleForm.controls.country) }}</small>
            <small class="form-text text-muted">Current control status:
              {{ sampleFormOrControlStatus(this.sampleForm.controls.country) }}</small>
          </div>
          <div class="form-group">
            <label class="mr-2" for="multipleSelect">Selection of multiple values</label>
            <ng-select [items]="allColors" [multiple]="true" labelForId="multipleSelect" [closeOnSelect]="false"
              [clearSearchOnAdd]="true" [searchable]="true" bindValue="_id" bindLabel="name" clearAllText="Clear"
              [compareWith]="compareFn" placeholder="Select all the colors" formControlName="colors" #MyNGSelect>
              <!-- NGSelect does not allow disabled items to be removed from the selection list. 
                I think is a bug :-(.
                In order to do that we must use a template and handle ourselves the item removal -->
              <ng-template ng-label-tmp let-item="item">
                <span class="ng-value-custom-icon" (click)="dropItem(item)">×</span>
                <span class="ng-value-label" [ngClass]="{
                  'item-disabled': !item.enabled }">{{item.name}}</span>
              </ng-template>
            </ng-select>
            <small *ngIf="getErrorText(this.sampleForm.controls.colors)" class="form-text data-invalid-message">{{
              getErrorText(this.sampleForm.controls.colors) }}</small>
            <small class="form-text text-muted">Current control status:
              {{ sampleFormOrControlStatus(this.sampleForm.controls.colors) }}</small>
          </div>
          <div class="form-group">
            <label for="password" class="data-required">Password</label>
            <div class="form-inline">
              <input [type]="viewpw ? 'text' : 'password'" class="form-control" id="password"
                aria-describedby="password" placeholder="Enter your password here" formControlName="password" required>
              <button class="btn btn-primary button-icon-regular ml-1" (click)="toggleViewPassword()">
                <i class="fas" [ngClass]="{
                  'fa-eye-slash': !viewpw,
                  'fa-eye': viewpw
                }"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!sampleForm.valid">Save</button>
          <br>
          <span>Current form status: {{ sampleFormOrControlStatus(sampleForm) }}</span><br>
          <span>Current form value: {{ sampleForm.value | json }}</span>
        </form>
      </div>

      <div>
        <p><strong>
            <h2>Material Accordion: </h2>
          </strong>
        </p>

        <div>
          <button class="btn btn-primary" type="button" (click)="expandAll()">Expand All</button>
          <button class="btn btn-primary" type="button" (click)="collapseAll()">Collapse All</button>
        </div>

        <!-- displaymode "flat": No spaces between rows. "default": With a space between rows. -->
        <mat-accordion multi displayMode="default" togglePosition="before" #accordion>
          <!-- #enddocregion multi -->
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal data
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>
            This is the content
          </mat-expansion-panel>
          <!-- #docregion disabled -->
          <mat-expansion-panel disabled>
            <!-- #enddocregion disabled -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                Destination
              </mat-panel-title>
              <mat-panel-description>
                Type the country name
              </mat-panel-description>
            </mat-expansion-panel-header>
            This is content 2
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Day of the trip
              </mat-panel-title>
              <mat-panel-description>
                Inform the date you wish to travel
              </mat-panel-description>
            </mat-expansion-panel-header>
            This is content 3
          </mat-expansion-panel>
        </mat-accordion>

      </div>

      <div>
        <p><strong>
            <h2>Material Table: </h2>
          </strong>
        </p>
        <div class="d-flex mb-4">
          <input type="text" class="form-control" placeholder="Enter the amount of results for the table"
            [(ngModel)]="tableTotalResults">
          <button class="btn btn-secondary" (click)="totalResultsChange()">
            Apply
          </button>
        </div>
        <div class="d-flex mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="showFilter" id="showFilterCheckbox"
              name="showFilterCheckbox">
            <label class="custom-control-label" for="showFilterCheckbox">Show filter controls</label>
          </div>
        </div>
        <div class="d-flex mb-4">
          <label for="excludedFieldsListTextBox">List of excluded fields</label>
          <input type="text" class="form-control" [(ngModel)]="excludedFieldsList" id="excludedFieldsListTextBox"
            placeholder="Enter here a comma separated list of fields to exclude.">
        </div>
        <div class="d-flex mb-4">
          <label for="sortedColumnsListTextBox">Column order</label>
          <input type="text" class="form-control" [(ngModel)]="sortedColumnsList" id="sortedColumnsListTextBox"
            placeholder="Enter here a comma separated list of the columns as you wish to be presented.">
        </div>
        <app-dynamic-table [data]="targetResultsTable.originalData" [show-filter]="showFilter"
          [excluded-fields]="excludedFieldsList" [column-order]="sortedColumnsList"></app-dynamic-table>
      </div>

      <p class="my-4"><strong>
          <h2>EOF!!!</h2>
        </strong></p>
    </div>
  </div>