<nav *ngIf="showNavBar" class="navbar navbar-expand-md navbar-dark bg-dark">
  <div *ngIf="previousPage">
    <button type="button" class="btn btn-primary button-icon-medium back-button"
      [matTooltip]="getPreviousPageTooltipMessage()" matTooltipPosition="right" 
      matTooltipClass="tooltipsWithBreakLines"
      (click)="goBackInHistory()">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <a class="navbar-brand navbar-brand-collapsed ml-2 navbar-iso" href="javascript:void(0)" (click)="goToHome()">
    <div class="nav-bar-icon"></div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="canAccessQuickTask" class="nav-item nav-menu">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToQuickTask()" [ngClass]="{
        'nav-menu-selected': isQuickTask
      }">Quick Task</a>
      </li>
      <li *ngIf="canAccessBrowseWorkflows" class="nav-item nav-menu">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToBrowseWorkflows()" [ngClass]="{
        'nav-menu-selected':  isBrowseWorkflowsPage
      }">Workflows</a>
      </li>
      <li *ngIf="canAccessBrowseScripts" class="nav-item nav-menu">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToBrowseScripts()" [ngClass]="{
        'nav-menu-selected':  isBrowseScriptsPage
      }">Scripts</a>
      </li>
      <li *ngIf="canAccessBrowseTargets" class="nav-item nav-menu" >
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToBrowseTargets()" 
          [ngClass]="{
            'nav-menu-selected':  isBrowseTargetsPage
          }">Targets</a>
      </li>
      <li *ngIf="canAccessHistory" class="nav-item nav-menu">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToHistory()" [ngClass]="{
        'nav-menu-selected': isHistory
      }">History</a>
      </li>
    </ul>
    <div *ngIf="showSearchBox && canAccessBrowseWorkflows"
      class="input-group input-group-md justify-content-sm-start justify-content-md-end mb-2 mb-sm-2 mb-md-0 ml-2 menu-item">
      <input type="text" class="form-control search-input-text" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchTerm" (keyup.enter)="goToSearch()">
      <div class="input-group-append search-input">
        <button class="btn btn-secondary search-btn" [disabled]="searchTerm.length < 3" (click)="goToSearch()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="nav-item dropdown nav-menu">
      <div class="nav-link dropdown-toggle no-wrap-links menu-item icon-white" data-toggle="dropdown" href="#" aria-expanded="true"
        id="dropdown02">
        <div *ngIf="userName; else noUser" class="text-circle text-circle-mini user-initials"
        [matTooltip]="userName" matTooltipClass="tooltipsWithBreakLines"
        matTooltipPosition="left">
          {{userInitials}}
        </div>
        <ng-template #noUser>
          <span class="icon-user-mini menu-icon"
          [ngClass]="{
            'icon-white': !isLegacySecurity, 
            'icon-legacy-security': isLegacySecurity
        }" ></span>
        </ng-template> 
      </div>
      <div class="dropdown-menu dropdown-user" aria-labelledby="dropdown02">
        <!-- New Script credential submenu -->
        <div *ngIf="canAccessCredentials" class="menu-divider" (click)="doNotPropagate($event)">
          <span >Script Credential Management</span>
        </div>
        <a *ngIf="canAccessCredentialWindows" class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialWin()">
          <span class="icon-credential-windows menu-icon"></span>
          <span>New Windows credential</span>
        </a>
        <a *ngIf="canAccessCredentialAWS" class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialAWS()">
          <span class="icon-credential-aws menu-icon"></span>
          <span>New Amazon Web Services credential</span>
        </a>
        <a *ngIf="canAccessCredentialAPIKey" class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialGenericAPIKey()">
          <span class="icon-credential-apikey menu-icon"></span>
          <span>New Generic API Key credential</span>
        </a>
        <div *ngIf="canAccessCredentials && canBrowseCredentials" (click)="doNotPropagate($event)">
          <div class="dropdown-divider menu-divider-line"></div>
        </div>
        <a *ngIf="canBrowseCredentials" class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseCredentials()">
          <span class="icon-credentials menu-icon"></span>
          <span>Manage Script Credentials</span>
        </a>
        <!-- User Management Submenu -->
        <div *ngIf="canAccessUserAccount || canBrowseUserAccounts" class="menu-divider" (click)="doNotPropagate($event)">
          <span >Propel Users Management</span>
        </div>
        <a *ngIf="canAccessUserAccount" class="dropdown-item" href="javascript:void(0)" (click)="goToUserAccount()">
          <span class="icon-user-mini menu-icon"></span>
          <span>New User account</span>
        </a>
        <a *ngIf="canBrowseUserAccounts" class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseUsers()">
          <span class="icon-users-mini menu-icon"></span>
          <span>Manage Users</span>
        </a>
        <div *ngIf="!userName && !isLegacySecurity" (click)="doNotPropagate($event)">
          <div class="dropdown-divider menu-divider-line"></div>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToLogin()">
            <span class="icon-login-mini menu-icon"></span>
            <span>Login</span>
          </a>
        </div>
        <a *ngIf="userName && !isLegacySecurity" class="dropdown-item" href="javascript:void(0)" (click)="goToLogoff()">
          <span class="icon-logoff-mini menu-icon"></span>
          <span>Log off</span>
        </a>
        <!-- Developers only Submenu -->
        <div *ngIf="isDevMode" class="menu-divider" (click)="doNotPropagate($event)">
          <span >Developers only</span>
        </div>
        <a *ngIf="isDevMode" class="dropdown-item" href="javascript:void(0)" (click)="goToSandbox()">
          <span class="menu-icon"><i class="fas fa-flask"></i></span>
          <span>Sandbox</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
<div *ngIf="showNavBar" class="bar"></div>