.nav-bar-icon {
    background-image: url(../../assets/img/logo2-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 2rem;
    min-width: 2rem;
    margin-bottom: -0.4rem;
}

.navbar-iso{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
}

.search-input {
    max-width: 200px;
}

.search-btn {
    border: none;
}

.bar {
    height: 6px;
    background-color: var(--colors-primary);
}

.no-wrap-links {
    white-space: nowrap !important;
}