.nav-bar-icon {
    background-image: url(../../assets/img/logo2-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 2rem;
    min-width: 2rem;
    margin-bottom: -0.4rem;
}

.navbar-iso{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
}

.search-input {
    max-height: 2rem;
}

.search-input-text {
    max-width: 200px;
    max-height: 2rem;
}

.search-btn {
    border: none;
}

.bar {
    height: 6px;
    background-color: var(--colors-primary);
}

.no-wrap-links {
    white-space: nowrap !important;
}

.nav-menu {
    border-bottom: 2px solid;
}

.nav-menu-selected {
    border-bottom: var(--colors-white) 2px solid;
}

.nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.dropdown-user {
    right: 0;
    left: auto;
}

.back-button {
    margin-top: 0.3rem;
}

.user-initials {
    font-size: 1.2em;
}

.divider-left {
    min-width: 5%;
}

.divider-right {
    min-width: 30%;
}