<nav *ngIf="!isOffline" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand navbar-brand-collapsed ml-2 navbar-iso" href="javascript:void(0)" (click)="goToHome()">
    <div class="nav-bar-icon"></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-menu" [ngClass]="{
        'nav-menu-selected': isQuickTask
      }">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
          data-target=".navbar-collapse.show" (click)="goToQuickTask()">Quick Task</a>
      </li>

      <li class="nav-item nav-menu" [ngClass]="{
        'nav-menu-selected':  isWorkflow
      }">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
        data-target=".navbar-collapse.show" (click)="goToWorkflow()">Workflow</a>
      </li>
      <li class="nav-item nav-menu" [ngClass]="{
        'nav-menu-selected': isScript
      }">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
        data-target=".navbar-collapse.show" (click)="goToScript()">Script</a>
      </li>
      <li class="nav-item nav-menu" [ngClass]="{
        'nav-menu-selected': isTarget
      }">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
        data-target=".navbar-collapse.show" (click)="goToTarget()">Target</a>
      </li>
      <li class="nav-item nav-menu" [ngClass]="{
        'nav-menu-selected': isHistory
      }">
        <a class="nav-link no-wrap-links menu-item" href="javascript:void(0)" data-toggle="collapse"
        data-target=".navbar-collapse.show" (click)="goToHistory()">History</a>
      </li>
      <li class="nav-item dropdown nav-menu" [ngClass]="{
        'nav-menu-selected': isBrowsePage
      }">
        <a class="nav-link dropdown-toggle no-wrap-links menu-item" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseWorkflows()">
            <span class="icon-workflows menu-icon"></span>
            <span>Workflows</span>
          </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseScripts()">
            <span class="icon-scripts menu-icon"></span>
            <span>Scripts</span>
          </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseTargets()">
            <span class="icon-targets menu-icon"></span>
            <span>Targets</span>
          </a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToBrowseCredentials()">
            <span class="icon-credentials menu-icon"></span>
            <span>Credentials</span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown nav-menu" [ngClass]="{
        'nav-menu-selected': isCredentialPage
      }">
        <a class="nav-link dropdown-toggle no-wrap-links menu-item" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Credential
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialWin()">
              <span class="icon-credential-windows menu-icon"></span>
              <span>Windows</span>
            </a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialAWS()">
              <span class="icon-credential-aws menu-icon"></span>
              <span>Amazon Web Services</span>
            </a>
            <a class="dropdown-item" href="javascript:void(0)" (click)="goToCredentialGenericAPIKey()">
              <span class="icon-credential-apikey menu-icon"></span>
              <span>Generic API Key</span>
            </a>
        </div>
      </li>
    </ul>
    <div *ngIf="!isBrowsePage" 
      class="input-group input-group-md justify-content-sm-start justify-content-md-end mb-2 mb-sm-2 mb-md-0 menu-item">
      <input type="text" class="form-control search-input" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchTerm" (keyup.enter)="goToSearch()">
      <div class="input-group-append">
        <button class="btn btn-secondary search-btn" [disabled]="searchTerm.length < 3" 
          (click)="goToSearch()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<mat-progress-bar *ngIf="loading" mode="indeterminate" color="accent"></mat-progress-bar>
<div *ngIf="!isOffline" class="bar"></div>