
.icon {
    font-weight: 600;
    /* background-color: var(--colors-primary); */
    color: var(--colors-background);
    border: 1px solid var(--colors-background);
    background-color: var(--colors-primary);
    border-radius: 100px;
    padding-left: 2px;
    padding-top: 2px;
    height: 22px;
    width: 22px;
}

.icon-3x {
    padding-left: 4px;
    padding-top: 4px;
    height: 58px;
    width: 58px;
}

.icon-3x-spin {
    margin-top: 7px;
}

.icon-success {
    /* color: var(--colors-highlight);
    border: 1px solid var(--colors-highlight); */
    /* color: var(--colors-background);
    border: 1px solid var(--colors-background) */
    background-color: var(--colors-highlight);
}
/* 
.rest {
    background-color: var(--colors-primary);
} */

.icon-hold {
    /* color: var(--colors-disabled);
    border: 1px solid var(--colors-disabled) */
    background-color: var(--colors-disabled);
}

.icon-warn {
    /* color: var(--colors-warning);
    border: 1px solid var(--colors-warning) */
    background-color: var(--colors-warning-dark);
}

.icon-error {
    /* color: var(--colors-danger);
    border: 1px solid var(--colors-danger); */
    background-color: var(--colors-danger);
}
