
.icon {
    font-weight: 600;
    color: var(--colors-background);
    border: 1px solid var(--colors-background);
    background-color: var(--colors-primary);
    border-radius: 100px;
    padding-left: 2px;
    padding-top: 2px;
    height: 22px;
    width: 22px;
    font-size: 1rem;
}

.icon-3x {
    padding-left: 4px;
    padding-top: 4px;
    height: 58px;
    width: 58px;
    font-size: 3rem;
}

.icon-3x-spin {
    margin-top: 7px;
}

.dark-style {
    color: var(--colors-primary);
    border: 1px solid var(--colors-primary);
}

.dark-style-light {
    color: var(--colors-white);
}

.dark-style-spin {
    color: var(--colors-white);
    border: none;
}

.icon-success {
    background-color: var(--colors-highlight);
}

.icon-hold {
    background-color: var(--colors-disabled);
}

.icon-warn {
    background-color: var(--colors-warning-dark);
}

.icon-error {
    background-color: var(--colors-danger);
}
