.content-container {
    overflow: auto;
}

.compact-list {
    padding: 0.5rem 0.5rem !important;
    border: none !important;
    display: list-item;
    list-style-type: upper-roman !important;
}

.step-header {
    height: 47px !important 
}

.target-header {
    height: 36px !important
}

:host ::ng-deep .errors-header th {
    background-color: var(--colors-danger) !important;
}
