.content-container {
    overflow: auto;
}

.compact-list {
    padding: 0.5rem 0.5rem !important;
    border: none !important;
    display: list-item;
    list-style-type: upper-roman !important;
}

.step-header {
    background-color: var(--colors-highlight);
    height: 47px !important
}

.target-header {
    background-color: var(--colors-dark-highlight);
    height: 36px !important
}

:host /deep/ .errors-header th {
    background-color: var(--colors-danger) !important;
}
