<ul class="list-group">
    <li class="list-group-item mx-3" *ngFor="let item of model">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <a href="javascript:void(0)" (click)="goToEditScript(item._id)">
                    <span [innerHtml]="item.name"></span>
                </a>
                <span *ngIf="item.description" class="text-mini description" 
                    [innerHtml]="item.description"></span>
            </div>
        </div>
    </li>
</ul>