<div class="container-fluid">
    <div class="vertical-center">
        <div class="container text-center">
            <div class="alert fade show alert-warning" role="alert">
                <div class="row my-2">
                    <div class="col align-self-center text-center">
                        <span class="subtitle"><strong>Access is unauthorized.</strong></span>
                    </div>
                </div>
                <div class="row my-2 justify-content-center">
                    <div class="col-auto">
                        <i class="fas fa-ban icon-size"></i>
                    </div>
                </div>
                <div class="row my-2 justify-content-center">
                    <div class="col-auto">
                        <p class="my-2">
                            The access to this resource is forbidden.
                        </p>
                        <p class="my-2">
                            If you consider you need to be granted, please contact any Propel administrator.
                        </p>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col align-self-center text-center">
                        <button class="btn btn-primary retry-button" type="button" (click)="back()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>