<ul *ngFor="let param of parameters" class="list-group text-mini">
    <!-- <li class="list-group-item my-1"> -->
    <li class="list-group-item my-1" [ngClass]="{
        'list-group-item-primary': param.isPropelParameter
    }">
        <div class="d-flex">
            <span class="token namespace">[{{param.type}}]</span>
            <span><strong>${{param.name}}</strong></span>
            <div *ngIf="param.hasDefault" [ngSwitch]="param.nativeType">&nbsp;=
                <span *ngSwitchCase="'String'" class="token dark-string">"{{param.defaultValue}}"</span>
                <span *ngSwitchCase="'Boolean'" class="token boolean">{{param.defaultValue}}</span>
                <span *ngSwitchDefault>{{param.defaultValue}}</span>
            </div>
        </div>
        <div *ngIf="param.validValues && param.validValues.length > 0" class="d-flex text-mini">
            <span>Valid set = {{param.validValues.join(", ")}}</span>
        </div>
        <div *ngIf="param.description" class="d-flex">
            <span><i>{{param.description}}</i></span>
        </div>
        <div class="d-flex justify-content-end">
            <span class="text-mini">{{getOptions(param)}}</span>
        </div>
    </li>
</ul>