.welcome-text {
    text-transform: uppercase;
    letter-spacing: 8px;
}

.not-break {
    white-space: nowrap;
}

.capsule {
    color: var(--btn-primary-color);
    background-color: var(--colors-primary);
    border: var(--btn-primary-border);
    max-width: 150px;
    min-width: 150px;
    margin-left: 6px;
    margin-right: 6px;
}

.card-custom {
    max-width: 350px;
    min-width: 350px;
}

.card-custom-graph {
    min-width: 650px;
    max-width: 650px;
}

.card-text {
    font-size: 1.2rem;
}

.button-circular-small-correction {
    margin-bottom: 0.15em;
}
