<div class="container-fluid">

    <!-- Totals -->
    <div *ngIf="stats; else noStats" class="row justify-content-center mt-3 font-weight-bold subtitle not-break text-center">
        <div class="capsule py-2 my-2 rounded cursor-pointer" matTooltip="Total amount of workflows created.
Click here to browse them." matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
            (click)="goToBrowseWorkflows()">
            <i class="fas fa-tasks mr-2"></i>{{stats.totalWorkflows}}
        </div>
        <div class="capsule py-2 my-2 rounded cursor-pointer" matTooltip="Total amount of executions in the last month.
Click here to check the execution history." matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
            (click)="goToHistory()">
            <i class="fas fa-history mr-2"></i>{{stats.totalExecutions}}
        </div>
        <div class="capsule py-2 my-2 rounded cursor-pointer" matTooltip="Total of scripts already uploaded.
Click here to take a look at them." matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
            (click)="goToBrowseScripts()">
            <i class="fas fa-scroll mr-2"></i>{{stats.totalScripts}}
        </div>
        <div class="capsule py-2 my-2 rounded cursor-pointer" matTooltip="Total number of targets registered.
Click here to browse them." matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
            (click)="goToBrowseTargets()">
            <i class="fas fa-hdd mr-2"></i>{{stats.totalTargets}}
        </div>
        <div class="capsule py-2 my-2 rounded cursor-pointer" matTooltip="Total number of credentials kept safe by Propel.
Click here to browse them." (click)="goToBrowseCredentials()" matTooltipClass="tooltipsWithBreakLines"
            matTooltipPosition="below">
            <i class="fas fa-key mr-2"></i>{{stats.totalCredentials}}
        </div>
    </div>
    <ng-template #noStats>
        <div *ngIf="!loadingResults" class="alert alert-dismissible fade show alert-info mt-2" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <strong>Application stats are on his way!</strong> As soon they are available, you will see them here.
          </div>
    </ng-template>

    <!-- Executions -->
    <div class="row justify-content-center mt-3">
        <div *ngIf="stats" class="card card-custom-graph mx-2 my-2 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Executions on last 30 days</h4>
            </div>
            <div class="align-self-center card-body">
                <ngx-charts-area-chart [results]="stats.dailyExecutions" [view]="graphExecutionsView"
                    [scheme]="graphColors" xAxis="true" yAxis="true" [legend]="false" [showXAxisLabel]="false"
                    [showYAxisLabel]="false" (select)="onSelectChart($event)">
                </ngx-charts-area-chart>
            </div>
        </div>
    </div>

    <!-- Cards -->
    <div class="row justify-content-center text-center">
        <!-- Get Started -->
        <div class="card card-custom mx-2 mt-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Get Started</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mt-2">
                        <button type="button" (click)="goToTarget()"
                            class="btn btn-lg btn-block btn-primary card-text">Add a
                            Target</button>
                    </li>
                    <li class="mt-2">
                        <button type="button" (click)="goToScript()"
                            class="btn btn-lg btn-block btn-primary card-text">Upload
                            your
                            Script</button>
                    </li>
                    <li class="mt-2">
                        <button type="button" (click)="goToWorkflow()"
                            class="btn btn-lg btn-block btn-primary card-text">Create a
                            Workflow</button>
                    </li>
                    <li class="mt-2">
                        <button type="button" (click)="goToQuickTask()"
                            class="btn btn-lg btn-block btn-primary card-text">Run
                            a Quick task</button>
                    </li>
                    <li class="mt-2">
                        <button type="button" class="btn btn-lg btn-block btn-primary card-text">
                            <div>Credentials</div>
                            <button type="button" class="btn btn-secondary mx-1 icon-credential-windows"
                                matTooltip="Create a new windows credential." matTooltipClass="tooltipsWithBreakLines"
                                matTooltipPosition="below" (click)="goToCredentialWin()"></button>
                            <button type="button" class="btn btn-secondary mx-1 icon-credential-aws"
                                matTooltip="Create a new AWS credential." matTooltipClass="tooltipsWithBreakLines"
                                matTooltipPosition="below" (click)="goToCredentialAWS()"></button>
                            <button type="button" class="btn btn-secondary mx-1 icon-credential-apikey"
                                matTooltip="Create a new Generic API Key credential."
                                matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
                                (click)="goToCredentialGenericAPIKey()"></button>
                            <button type="button" class="btn btn-secondary mx-1 icon-credential-database"
                                matTooltip="Create a new Database credential."
                                matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="below"
                                (click)="goToCredentialDatabase()"></button>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <!-- User stats -->
        <div *ngIf="userStats" class="card card-custom mx-2 mt-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">My favorite Workflows</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mt-2 d-flex" *ngFor="let item of userStats.mostUsedWorkflows">
                        <div>
                            <button class="btn btn-primary ml-2" type="button" (click)="run(item._id)">Run</button>
                        </div>
                        <div class="ml-2">
                            <div class="row">
                                <div class="col-auto text-left text-mini">
                                    <a href="javascript:void(0)" (click)="goToEditWorkflow(item._id)">{{item.name}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="text-left text-mini">Executed {{item.value}} times.</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-muted text-mini mt-1">
                    <a href="javascript:void(0)" (click)="goToHistory()">{{userStats.totalExecutions}}</a>&nbsp; total
                    execution(s) in the last month.
                </div>
            </div>
        </div>


        <!-- Latest Activities -->
        <div *ngIf="stats" class="card card-custom mx-2 mt-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Latest activities</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mt-2 d-flex" *ngFor="let item of stats.latestExecutions">
                        <div>
                            <app-status-icon size="small" [status]="item.extra.status">
                            </app-status-icon>
                        </div>
                        <div class="align-self-center ml-2">
                            <div class="row">
                                <div class="col-auto text-left text-mini">{{item.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-auto text-mini">
                                    <a href="javascript:void(0)"
                                        (click)="goToResults(item._id)">{{getLatestActivityText(item)}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="text-muted text-mini mt-1">
                        <a href="javascript:void(0)"
                            (click)="goToHistory()">{{stats.totalExecutions}}</a>&nbsp;execution(s)
                        in
                        the last month.
                    </div>
                </ul>
            </div>
        </div>

        <!-- Most Popular Workflows -->
        <div *ngIf="stats" class="card card-custom mx-2 mt-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Most Popular Workflows</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mt-2 d-flex" *ngFor="let item of stats.mostUsedWorkflows">
                        <div>
                            <button class="btn btn-primary ml-2" type="button" (click)="run(item._id)">Run</button>
                        </div>
                        <div class="ml-2">
                            <div class="row">
                                <div class="col-auto text-left text-mini">
                                    <a href="javascript:void(0)" (click)="goToEditWorkflow(item._id)">{{item.name}}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <div class="text-left text-mini">Executed {{item.value}} times.</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Last Errors -->
        <div *ngIf="stats" class="card card-custom mx-2 mt-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Last errors</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <div *ngIf="stats.lastExecutionErrors.length > 0; else NoDataErrors">
                        <li class="mt-2 d-flex" *ngFor="let item of stats.lastExecutionErrors">
                            <div>
                                <app-status-icon size="small" status="FAULTY">
                                </app-status-icon>
                            </div>
                            <div class="align-self-center ml-2">
                                <div class="row">
                                    <div class="col-auto text-left text-mini icon-binoculars-after-mini"
                                        [innerHtml]="getShortErrorText(item.name)" matTooltip="{{ item.name }}"
                                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto text-mini">
                                        <a href="javascript:void(0)"
                                            (click)="goToResults(item._id)">{{getFriendlyStartTime(item.lastTimeUpdated)}}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <ng-template #NoDataErrors>
                        <li class="mt-2 d-flex">
                            <div class="align-self-center ml-2">
                                <div class="row">
                                    <div class="col-auto text-center text-mini">
                                        Hurray!, no errors yet!. Your scripts are working really fine!
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</div>