<form [formGroup]="fg">
    <div class="form-group">
        <label for="user">User ID</label>
        <input type="text" class="form-control" id="user" aria-describedby="user"
            placeholder="Here the user name or ID." formControlName="user">
        <app-validation-message [control]="fg.controls['user']"></app-validation-message>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="d-flex justify-content-center">
            <input [type]="viewPassword ? 'text' : 'password'" 
              class="form-control" id="password" aria-describedby="password"
              placeholder="123456... Nahh! just a joke." formControlName="password">
            <button class="btn btn-primary button-icon-regular ml-1" (click)="toggleViewPassword()" >
              <i class="fas" [ngClass]="{
                'fa-eye-slash': !viewPassword,
                'fa-eye': viewPassword
              }"></i>
            </button>
          </div>
        <app-validation-message [control]="fg.controls['password']"></app-validation-message>
    </div>
    <div class="form-group">
      <label for="description">Connection string</label>
      <textarea class="form-control" id="connectionString" aria-describedby="connectionString"
          placeholder="Add here the connection string. Is safe to add sensitive data here like users and passwords, this information will be encrypted by Propel." rows="4"
          formControlName="connectionString"></textarea>
      <app-validation-message [control]="fg.controls['connectionString']"></app-validation-message>
  </div>
</form>