<ul class="list-group">
    <li class="list-group-item mx-3" *ngFor="let item of model">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex flex-column mr-2">
                    <button class="btn btn-secondary button-icon-medium mb-1" type="button"
                        (click)="duplicate(item.FQDN)"
                        matTooltip="Clone this target! A duplicate will be created so you can tweak it easily."
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        <i class="fas fa-copy"></i>
                    </button>
                    <button class="btn btn-danger button-icon-medium" type="button" (click)="remove(item)"
                        matTooltip="Delete this target. Watch out!, this operation can't be undone."
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
                <div class="d-flex flex-column">
                    <a href="javascript:void(0)" (click)="goToEditTarget(item._id)">
                        <span [innerHtml]="item.friendlyName" [ngClass]="{
                            'item-disabled': !item.enabled }" matTooltip="{{ getTargetTooltipMessage(item) }}"
                            matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"></span>
                        <span class="ml-1 text-muted overflowEllipsis">({{item.FQDN}})</span>
                    </a>
                    <span *ngIf="item.description" class="text-mini description" [innerHtml]="item.description"></span>
                </div>
            </div>
        </div>
    </li>
</ul>