<div class="form-container mt-2">
    <form [formGroup]="fh.form">
        <div class="form-group">
            <label for="name" class="data-required">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name"
                placeholder="Enter the Workflow name." formControlName="name" required>
            <app-validation-message [control]="name"></app-validation-message>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" aria-describedby="description"
                placeholder="Explain here what exactly this workflow does."
                rows="4" formControlName="description"></textarea>
            <app-validation-message [control]="description"></app-validation-message>
        </div>
        <div class="form-group mb-0">
            <div class="d-flex justify-content-center mb-2">
                <button class="btn btn-primary" type="button" (click)="addStep()"><i class="fas fa-list-ol mr-2"></i>Add Step</button>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <app-validation-message [control]="steps"></app-validation-message>
            </div>
            <div *ngIf="steps && steps.controls.length > 1 && showChangeOrderAlert" 
                class="d-flex justify-content-center mb-2">
                <div class="alert alert-dismissible fade show alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true" (click)="stopShowingChangeStepOrderAlert()">×</span>
                    </button>
                    <strong>Need to change step order?</strong> Don't worry, you can use the <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i> icon to drag the steps in the way you need to be executed.
                  </div>
            </div>
        </div>
        <div *ngIf="steps && steps.controls.length > 0" class="form-group">
            <table class="table">
            <thead>
              <tr>
                <th scope="col" class="no-wrap-headers text-center">&nbsp;</th>
                <th scope="col" class="no-wrap-headers text-center">#</th>
                <th scope="col" class="no-wrap-headers text-center">Enabled</th>
                <th scope="col" class="no-wrap-headers text-center">Name</th>
                <th scope="col" class="no-wrap-headers text-center">If Step fails&hellip;</th>
              </tr>
            </thead>
            <tbody formArrayName="steps" cdkDropList (cdkDropListDropped)="drop($event)"
                [ngClass]="{'drag-drop-container': isDragging}">
              <tr [formGroupName]="i" *ngFor="let child of steps.controls; let i = index" cdkDrag
              (cdkDragStarted)="dragStarted($event)"
              (cdkDragReleased)="dragReleased($event)">
                <td>
                    <div class="d-flex drag-drop-cursor">
                        <div class="d-flex justify-content-center align-items-center mr-2" 
                        matTooltip="Click and drag to change the order of this step." 
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"
                        cdkDragHandle>
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <button class="btn btn-primary button-icon-medium" type="button" 
                            matTooltip="Delete this step." 
                            matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above"
                            (click)="removeStep(i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
                <td>{{i + 1}}</td>
                <td>
                    <div class="form-group">
                        <mat-slide-toggle color="primary" formControlName="enabled" 
                        matTooltip="If the step is disabled, it will be skipped during Workflow execution." 
                        matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="above">
                        </mat-slide-toggle>
                    </div>
                </td>
                <td><a href="javascript:void(0)" (click)="editStep(i)" class="text-mini mr-2">
                    {{getStepName(i)}}</a><i class="fas fa-binoculars" matTooltip="{{getStepDetails(i, true)}}" 
                    matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="right"></i></td>
                <td>
                    <div class="form-group">
                        <div class="d-flex justify-content-center align-items-center">
                            <label class="mr-2 mt-1 text-mini text-center">
                                Keep going.
                            </label>
                            <mat-slide-toggle color="primary" formControlName="abortOnError">
                            </mat-slide-toggle>
                            <label class="ml-2 mt-1 text-mini text-center">
                                Abort workflow.
                            </label>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
            <hr class="my-4">
            <div class="d-flex">
                <div class="mr-auto">
                    <button *ngIf="showAddNewButton" class="btn btn-secondary" type="button" (click)="newItem()">Add new</button>
                    <button class="btn btn-primary ml-2" type="button" [disabled]="fh.form.pristine" (click)="resetForm()">Cancel</button>
                </div>                
                <button class="btn btn-primary ml-2" type="button" [disabled]="!fh.form.valid" (click)="save()">Save</button>
                <button class="btn btn-primary ml-2" type="button" [disabled]="!fh.form.valid" (click)="save(true)">Save & Run</button>
            </div>
        </div>
    </form>
</div>

        <!-- <pre>Is Dragging: {{ isDragging }}</pre>
        <pre>Is Form Valid: {{ fh.form.valid }}</pre>
        <pre>{{fh.form.value | json }}</pre> -->