<div class="container mt-2">
    <form [formGroup]="fh.form">
        <div class="form-group">
            <label for="name" class="data-required">Script name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name"
                placeholder="Enter the Workflow name." formControlName="name" required>
            <app-validation-message [control]="fh.form.controls.name"></app-validation-message>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" aria-describedby="description"
                placeholder="Explain here what exactly this workflow does."
                rows="4" formControlName="description"></textarea>
            <app-validation-message [control]="fh.form.controls.description"></app-validation-message>
        </div>
        <div class="form-group">
            <label class="mr-2 w-100">Share use</label>
            <div class="d-flex justify-content-center">
                <label class="mr-2 mt-1 text-mini">
                    Share with everyone.
                </label>
                <mat-slide-toggle color="primary" id="isPrivate"
                    formControlName="isPrivate">
                </mat-slide-toggle>
                <label class="ml-2 mt-1 text-mini">
                    Keep it private. Only I can update and run it.
                </label>
            </div>
            <app-validation-message [control]="fh.form.controls.isPrivate">
            </app-validation-message>
        </div>
        <div class="form-group">
            <label class="mr-2" for="category">Category</label>
            <button class="btn btn-primary button-icon-small" type="button" [disabled]="fh.form.disabled"
                (click)="addCategory()">
                <i class="fas fa-plus"></i>
            </button>
            <ng-select #category [items]="allCategories" [multiple]="false" labelForId="category"
                [closeOnSelect]="true" [clearSearchOnAdd]="true" [searchable]="true" bindValue="_id"
                bindLabel="name" clearAllText="Clear" [compareWith]="compareFn"
                placeholder="Select the category that fits better or create a new one by clicking on the plus button."
                formControlName="category">
            </ng-select>
            <app-validation-message [control]="fh.form.controls.category"></app-validation-message>
        </div>
        <div class="form-group mb-0">
            <div class="d-flex justify-content-center mb-2">
                <button class="btn btn-primary" type="button" (click)="addStep()"><i class="fas fa-list-ol mr-2"></i>Add Step</button>
            </div>
            <div class="d-flex justify-content-center mb-2">
                <app-validation-message [control]="fh.form.controls.steps"></app-validation-message>
            </div>
            <div *ngIf="steps && steps.controls.length > 1 && showChangeOrderAlert" 
                class="d-flex justify-content-center mb-2">
                <div class="alert alert-dismissible fade show alert-info" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true" (click)="stopShowingChangeStepOrderAlert()">×</span>
                    </button>
                    <strong>Need to change step order?</strong> Don't worry, you can use the <i class="fas fa-ellipsis-v"></i>
                    <i class="fas fa-ellipsis-v"></i> icon to drag the steps in the way you need to be executed.
                  </div>
            </div>
        </div>
        <div *ngIf="steps && steps.controls.length > 0" class="form-group">
            <table class="table">
            <thead>
              <tr>
                <th scope="col" class="no-wrap-headers">&nbsp;</th>
                <th scope="col" class="no-wrap-headers">#</th>
                <th scope="col" class="no-wrap-headers">Enabled</th>
                <th scope="col" class="no-wrap-headers">Name</th>
                <th scope="col" class="no-wrap-headers">Details</th>
                <th scope="col" class="no-wrap-headers">If Step fails&hellip;</th>
              </tr>
            </thead>
            <tbody formArrayName="steps" cdkDropList (cdkDropListDropped)="drop($event)"
                [ngClass]="{'drag-drop-container': isDragging}">
              <tr [formGroupName]="i" *ngFor="let child of steps.controls; let i = index" cdkDrag
              (cdkDragStarted)="dragStarted($event)"
              (cdkDragReleased)="dragReleased($event)">
                <td>
                    <div class="d-flex drag-drop-cursor">
                        <div class="d-flex justify-content-center align-items-center mr-2" cdkDragHandle>
                            <i class="fas fa-ellipsis-v"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                        <button class="btn btn-primary button-icon-medium" type="button" (click)="removeStep(i)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
                <td>{{i + 1}}</td>
                <td>
                    <div class="form-group">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="d-flex justify-content-center">
                                <mat-slide-toggle color="primary" formControlName="enabled">
                                </mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="javascript:void(0)" (click)="editStep(i)">{{child.controls.name.value}}</a></td>
                <td>{{getStepDetails(i)}}&hellip;&nbsp;
                    <i class="fas fa-binoculars" matTooltip="{{getStepDetails(i, true)}}" 
                    matTooltipClass="tooltipsWithBreakLines" matTooltipPosition="right"></i></td>
                <td>
                    <div class="form-group">
                        <div class="d-flex justify-content-center align-items-center">
                            <label class="mr-2 mt-1 text-mini text-center">
                                Keep going.
                            </label>
                            <mat-slide-toggle color="primary" formControlName="abortOnError">
                            </mat-slide-toggle>
                            <label class="ml-2 mt-1 text-mini text-center">
                                Abort workflow.
                            </label>
                        </div>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
            <hr class="my-4">
            <div class="d-flex">
                <div class="mr-auto">
                    <button *ngIf="showAddNewButton" class="btn btn-secondary" type="button" (click)="newItem()">Add new</button>
                    <button class="btn btn-primary ml-2" type="button" [disabled]="fh.form.pristine" (click)="resetForm()">Cancel</button>
                </div>                
                <button class="btn btn-primary ml-2" type="button" [disabled]="!fh.form.valid" (click)="save()">Save</button>
                <button class="btn btn-primary ml-2" type="button" [disabled]="!fh.form.valid" (click)="save(true)">Save & Run</button>
            </div>
        </div>
    </form>
</div>

        <!-- <pre>Is Dragging: {{ isDragging }}</pre>
        <pre>Is Form Valid: {{ fh.form.valid }}</pre>
        <pre>{{fh.form.value | json }}</pre> -->