@import "./assets/css/overrides/bootstrap-overrides.css";
@import "./assets/css/overrides/ngx-toaster-overrides.css";
@import "./assets/css/overrides/angular-material-overrides.css";
@import "./assets/css/overrides/ng-select-overrides.css";
@import "./assets/css/overrides/prism-overrides.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
  GENERAL STYLING
  ==========================================================
*/

:root {
    /* Main colors */
    --colors-background: #eef4f9;
    --colors-primary: #123441;
    --colors-soft-primary: #507f92;
    --colors-highlight: #43a1c5;
    --colors-soft-highlight: #8ccfe7;
    --colors-dark-highlight: #487e92;
    --colors-soft-border: #ced4da;
    --colors-dark-border: #6c757d;
    --colors-white: #ffff;
    --colors-disabled: #92b0bb;
    --colors-soft-disabled: #bbd3dc;
    --colors-danger: #ff7878;
    /* --colors-danger-darker: #ff5b5b; */
    --colors-danger-darker: #f54a44;
    --colors-warning: #ffe89e;
    --colors-warning-dark: #e8ca51;
    --colors-info: var(--colors-highlight);
    /* Primary buttons */
    --btn-primary-color: #fff;
    --btn-primary-border: 2px solid var(--colors-primary);
    --btn-primary-hover-background: #a5b3c8;
    --btn-primary-focus-background: var(--btn-primary-hover-background);
    --btn-primary-focus-border: 2px solid var(--btn-primary-hover-background); 
    --btn-primary-disabled-background: var(--colors-soft-primary);
    --btn-primary-disabled-border: 2px solid var(--btn-primary-disabled-background); 
    /* Secondary buttons */
    --btn-secondary-background: var(--colors-dark-border);
    --btn-secondary-border: 2px solid var(--btn-secondary-background);
    --btn-secondary-hover-background: #919da7;
    --btn-secondary-focus-color: #ffffff;
    --btn-secondary-focus-background: var(--btn-secondary-hover-background);
    --btn-secondary-focus-border: 2px solid var(--btn-secondary-hover-background);
    --btn-secondary-active-background: #545b62;
    --btn-secondary-disabled-background: #6c757d;
    --btn-secondary-disabled-border: 2px solid var(--btn-secondary-disabled-background); 
    
    /* Danger buttons */
    --btn-danger-color: #fff;
    --btn-danger-border: 2px solid var(--colors-danger);
    --btn-danger-hover-background: var(--colors-danger-darker);
    --btn-danger-focus-background: var(--colors-danger-darker);
    --btn-danger-focus-border: 2px solid var(--colors-danger-darker); 
    --btn-danger-disabled-background: #dc3545;
    --btn-danger-disabled-border: 2px solid var(--btn-danger-disabled-background); 

    /* Badges */
    --badge-primary-color: #f0f0f0;
    --badge-primary-background: #328AAB;
    --badge-secondary-color: var(--colors-primary);
    --badge-secondary-background: #2B9DC6;
    /* Lists */
    --list-color: #fff;
    --list-background: #e0ecf7;
    --list-border: 1px solid var(--colors-soft-border);
  }
  
html, body { 
    height: 100%; 
} /* Added by Angular material */

body{
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    background-color: var(--colors-background);
    color: var(--colors-primary);
    margin: 0; /* Added by Angular material */
}

.title {
    font-size: 2rem;
}

.subtitle {
    font-size: 1.5rem;
}

.text-mini {
    font-size: 0.8rem;
}

/* 
  FORMS
  ==========================================================
*/

hr {
    border-color: var(--colors-primary);
    border-width: medium;
}

input::placeholder {
    color: var(--colors-soft-primary) !important;
    font-size: .75rem !important;
    font-style: italic !important;
}

input:disabled {
    background-color: var(--colors-soft-disabled);
}

textarea::placeholder {
    color: var(--colors-soft-primary) !important;
    font-size: .75rem !important;
    font-style: italic !important;
}

.data-required::before{
    font-family: "Font Awesome 5 Free";
    content: "\f12a";
    font-weight: 900;
    font-size: 0.9rem;
    display: inline-block;
    color: var(--colors-danger-darker);
    margin-right: 4px;;
}

.data-invalid-message {
    color: var(--colors-danger-darker);
    font-style: italic;
    font-size: 0.7rem;
}

.data-invalid-message::before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    font-style: normal;
    font-size: 0.8rem;
    display: inline-block;
    font-weight: 900;
    margin-right: 4px;
}

.plus-button-small{
    font-size: .5rem;
    padding: 0px 3px;
    margin-bottom: 1px;
}

/* 
  DIALOGS
  ==========================================================
*/

.dialogTitle{
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 20px 15px 20px;
    background-color: var(--colors-info);
}
  
.dialogText{
    font-size: 1em;
    padding: 20px 20px 20px 20px;
}
  
.dialogActions{
    padding: 20px 20px 20px 20px;
}

.close-anchor {
    color: var(--colors-primary);
}

.close-anchor:hover {
    color: var(--colors-white);
}

/* Spinner */

.spinner-custom mat-progress-spinner:nth-child(1) {
    position: relative !important;
    top: 5.13rem !important;
    left: -0.12rem !important;
}

.spinner-custom mat-progress-spinner:nth-child(1) > svg > circle {
    animation-duration: 12000ms !important;
    -webkit-animation-duration: 12000ms !important;
}

.spinner-custom mat-progress-spinner:nth-child(2) > svg > circle {
    fill: var(--colors-disabled);
}

.spinner-custom div {
    position: relative;
    top: -3.6rem;
    left: 0.6rem;
    max-width: 61px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--colors-white);
}

/* Prism */

.token.dark-string
{
    color: #8DBF2A;
    font-weight: 500;
}