@import "./assets/css/overrides/bootstrap-overrides.css";
@import "./assets/css/overrides/ngx-toaster-overrides.css";
@import "./assets/css/overrides/angular-material-overrides.css";
@import "./assets/css/overrides/ng-select-overrides.css";
@import "./assets/css/overrides/prism-overrides.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 
  GENERAL STYLING
  ==========================================================
*/

:root {
    /* Main colors */
    --colors-background: #eef4f9;
    --colors-primary: #123441;
    --colors-soft-primary: #507f92;
    --colors-highlight: #43a1c5;
    --colors-soft-highlight: #8ccfe7;
    --colors-dark-highlight: #487e92;
    --colors-soft-border: #ced4da;
    --colors-dark-border: #6c757d;
    --colors-white: #ffff;
    --colors-disabled: #92b0bb;
    --colors-soft-disabled: #bbd3dc;
    --colors-danger: #ff7878;
    --colors-danger-darker: #f54a44;
    --colors-warning: #ffe89e;
    --colors-warning-dark: #e8ca51;
    --colors-info: var(--colors-highlight);
    /* Primary buttons */
    --btn-primary-color: #fff;
    --btn-primary-border: 2px solid var(--colors-primary);
    --btn-primary-hover-background: #a5b3c8;
    --btn-primary-focus-background: var(--btn-primary-hover-background);
    --btn-primary-focus-border: 2px solid var(--btn-primary-hover-background); 
    --btn-primary-disabled-background: var(--colors-soft-primary);
    --btn-primary-disabled-border: 2px solid var(--btn-primary-disabled-background); 
    /* Secondary buttons */
    --btn-secondary-background: var(--colors-dark-border);
    --btn-secondary-border: 2px solid var(--btn-secondary-background);
    --btn-secondary-hover-background: #919da7;
    --btn-secondary-focus-color: #ffffff;
    --btn-secondary-focus-background: var(--btn-secondary-hover-background);
    --btn-secondary-focus-border: 2px solid var(--btn-secondary-hover-background);
    --btn-secondary-active-background: #545b62;
    --btn-secondary-disabled-background: #6c757d;
    --btn-secondary-disabled-border: 2px solid var(--btn-secondary-disabled-background); 
    
    /* Danger buttons */
    --btn-danger-color: #fff;
    --btn-danger-border: 2px solid var(--colors-danger);
    --btn-danger-hover-background: var(--colors-danger-darker);
    --btn-danger-focus-background: var(--colors-danger-darker);
    --btn-danger-focus-border: 2px solid var(--colors-danger-darker); 
    --btn-danger-disabled-background: #dc3545;
    --btn-danger-disabled-border: 2px solid var(--btn-danger-disabled-background); 

    /* Badges */
    --badge-primary-color: #f0f0f0;
    --badge-primary-background: #328AAB;
    --badge-secondary-color: var(--colors-white);
    --badge-secondary-background: var(--colors-dark-border);
    /* Lists */
    --list-color: #fff;
    --list-background: #e0ecf7;
    --list-border: 1px solid var(--colors-soft-border);
  }
  
html, body { 
    height: 100%; 
} /* Added by Angular material */

body{
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    background-color: var(--colors-background);
    color: var(--colors-primary);
    margin: 0; /* Added by Angular material */
}

.title {
    font-size: 2rem;
    font-weight: 800;
}

.subtitle {
    font-size: 1.5rem;
}

.text-mini {
    font-size: 0.9rem;
}

.text-subtle {
    font-size: 0.7rem;
}

.text-upper{
    text-transform: uppercase;
}

.overflowEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-disabled {
	font-weight: normal !important;
	text-decoration: line-through !important;
}

.text-circle {
    display: inline-flex;
    text-align: center !important;
    align-items: center!important;
    justify-content: center!important;
    border-radius: 50% !important;
    background-color: var(--colors-soft-highlight);
    color: var(--colors-primary);
    border: var(--colors-soft-primary) 0.15em solid;
    font-size: 2em;
    font-weight: 600;
    width: 2em;
    height: 2em;
    padding-top: 0.05em;
}

.text-circle-mini {
    font-size: 1em;
}

/* 
  NAVIGATION BAR
  ==========================================================
*/

.menu-item {
    font-size: 1rem;
    margin-top: 4px;
}

.menu-divider {
    font-style: italic;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    background-color: var(--colors-primary);
    color: var(--colors-white);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.menu-divider-line {
    max-width: 87%;
    margin-left: 6%;
}

.menu-divider-text:hover, .menu-divider-text:focus {
    background-color: var(--list-background);
}

.menu-icon {
    /* width: 1.3rem; */
    text-align: center;
    margin-right: 0.5rem
}

.icon-white {
    color: var(--colors-white);
}

.icon-legacy-security {
    color: var(--colors-soft-highlight);
}

.icon-binoculars-after-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f1e5";
    font-weight: 900;
    font-size: 0.8rem;
}

.icon-user::after {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    font-size: 1rem;;
}

.icon-user-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    font-size: 0.8rem;
}

.icon-users::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    font-weight: 900;
    font-size: 1rem;;
}

.icon-users-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0c0";
    font-weight: 900;
    font-size: 0.8rem;;
}

.icon-user-admin::after {
    font-family: "Font Awesome 5 Free";
    content: "\f504";
    font-weight: 900;
    font-size: 1rem;;
}

.icon-user-locked::after {
    font-family: "Font Awesome 5 Free";
    content: "\f506";
    font-weight: 900;
    font-size: 1rem;;
}

.icon-user-admin-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f504";
    font-weight: 900;
    font-size: 0.8rem;
}

.icon-login-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f2f6";
    font-weight: 900;
    font-size: 0.8rem;
}

.icon-logoff-mini::after {
    font-family: "Font Awesome 5 Free";
    content: "\f2f5";
    font-weight: 900;
    font-size: 0.8rem;
}

.icon-workflows::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0cb";
    font-weight: 900;
    font-size: 1rem;
}

.icon-scripts::before {
    font-family: "Font Awesome 5 Free";
    content: "\f70e";
    font-weight: 900;
    font-size: 1rem;
}

.icon-targets::before {
    font-family: "Font Awesome 5 Free";
    content: "\f233";
    font-weight: 900;
    font-size: 1rem;
}

.icon-credentials::before {
    font-family: "Font Awesome 5 Free";
    content: "\f084";
    font-weight: 900;
    font-size: 1rem;
}

.icon-credential-windows::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f17a";
    font-size: 1rem;
}

.icon-credential-aws::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f375";
    font-size: 1rem;
}

.icon-credential-apikey::before {
    font-family: "Font Awesome 5 Free";
    content: "\f023";
    font-weight: 900;
    font-size: 1rem;
}

/* 
  FORMS
  ==========================================================
*/

hr {
    border-color: var(--colors-primary);
    border-width: medium;
}

input::placeholder {
    color: var(--colors-soft-primary) !important;
    font-size: .75rem !important;
    font-style: italic !important;
}

input:disabled {
    background-color: var(--colors-soft-disabled);
}

textarea::placeholder {
    color: var(--colors-soft-primary) !important;
    font-size: .75rem !important;
    font-style: italic !important;
}

.data-required::before{
    font-family: "Font Awesome 5 Free";
    content: "\f12a";
    font-weight: 900;
    font-size: 0.9rem;
    display: inline-block;
    color: var(--colors-danger-darker);
    margin-right: 4px;;
}

.data-invalid-message {
    color: var(--colors-danger-darker);
    font-style: italic;
    font-size: 0.7rem;
}

.data-invalid-message::before {
    font-family: "Font Awesome 5 Free";
    content: "\f057";
    font-style: normal;
    font-size: 0.8rem;
    display: inline-block;
    font-weight: 900;
    margin-right: 4px;
}

.button-icon-small{
    font-size: .5rem;
    padding: 0px 3px;
    margin-bottom: 1px;
}

.button-icon-medium{
    font-size: 1rem;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.button-icon-regular{
    font-size: 1.42rem;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 1px;
}

.button-circular-small {
    border-radius: 50% !important;
    height: 32px;
    width: 32px;
    font-size: .8rem;
    line-height: 0px;
    padding-left: .52rem;
}

.button-circular {
    border-radius: 50% !important;
    height: 56px;
    width: 56px;
    font-size: 2em;
    line-height: 0px;
}

.floating-bottom-right {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 1000;
}

.floating-top-left {
    top: 4rem;
    position: fixed;
    left: 1rem;
    z-index: 1000;
}

.drag-drop-cursor {
    cursor: grab;
}

.drag-drop-cursor:active {
    cursor: grabbing;
}

.drag-drop-container{
    border-width: 3px;
    border-style: dashed;
    border-color: var(--accent-lighter-color);
}

.remove-border-right {
    border-right: none;
}

/*
  TABLES
  ==========================================================
*/

.no-wrap-headers {
    white-space: nowrap !important;
}

/* 
  DIALOGS
  ==========================================================
*/

.dialogTitle{
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 20px 15px 20px;
    background-color: var(--colors-info);
}
  
.dialogText{
    font-size: 1em;
    padding: 20px 20px 20px 20px;
}
  
.dialogActions{
    padding: 20px 20px 20px 20px;
}

.close-anchor {
    color: var(--colors-primary);
}

.close-anchor:hover {
    color: var(--colors-white);
}

/* Spinner */

.spinner-custom mat-progress-spinner:nth-child(1) {
    position: relative !important;
    top: 5.13rem !important;
    left: -0.12rem !important;
}

.spinner-custom mat-progress-spinner:nth-child(1) > svg > circle {
    animation-duration: 12000ms !important;
    -webkit-animation-duration: 12000ms !important;
}

.spinner-custom mat-progress-spinner:nth-child(2) > svg > circle {
    fill: var(--colors-disabled);
}

.spinner-custom div {
    position: relative;
    top: -3.6rem;
    left: 0.6rem;
    max-width: 61px;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--colors-white);
}

/* Prism */

.token.dark-string
{
    color: #8DBF2A;
    font-weight: 500;
}

/* Tooltips */

.tooltipsWithBreakLines {
    white-space: pre-line !important;
}

