<div class="container mt-2">
    <form [formGroup]="fh.form">
        <div *ngIf="!isQuickTask; else noQuickTask" class="form-group">
            <label for="name" class="data-required">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter the step name."
                formControlName="name" required>
            <app-validation-message [control]="fh.form.controls.name"></app-validation-message>
            <!-- DEBUG -->
            <!-- <small class="form-text text-muted">Current control status:
                {{ sampleFormOrControlStatus(fh.form.controls.name) }}</small> -->
            <!-- DEBUG -->
        </div>
        <ng-template #noQuickTask>
            <div class="subtitle my-2">{{ fh.form.controls.name.value }}</div>
        </ng-template>
        <div class="form-group">
            <label class="data-required mr-2" for="script">Script to execute</label>
            <ng-select #script [items]="allScripts" [multiple]="false" labelForId="script" [closeOnSelect]="true"
                [clearSearchOnAdd]="true" [searchable]="true" bindValue="_id" bindLabel="name" clearAllText="Clear"
                [compareWith]="compareFn" (change)="scriptChanged($event)"
                placeholder="Select the script you want to execute." formControlName="script">
            </ng-select>
            <app-validation-message [control]="fh.form.controls.script">
            </app-validation-message>
            <div *ngIf="fh.form.value.script && fh.form.value.script.enabled == false">
                <div class="alert fade show alert-warning alert-dismissible my-2" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>The selected script is disabled.</strong> This means that this Workflow step is going to be
                    skipped on the next execution.
                    <br>
                    In order to avoid this, please enable the script or select a different one.
                </div>
            </div>
            <!-- DEBUG -->
            <!-- <small class="form-text text-muted">Current control status:
                {{ sampleFormOrControlStatus(fh.form.controls.script) }}</small> -->
            <!-- DEBUG -->
        </div>
        <div class="form-group">
            <label class="mr-2" for="targets">Targets</label>
            <ng-select #targets [items]="allTargets" [multiple]="true" labelForId="targets" [closeOnSelect]="false"
                [clearSearchOnAdd]="true" [searchable]="true" bindValue="_id" bindLabel="friendlyName"
                clearAllText="Clear" [compareWith]="compareFn" placeholder="Select all the targets you want to hit."
                formControlName="targets">
                <!-- NGSelect does not allow disabled items to be removed from the selection list. In order to 
                    do that we must use a template and handle ourselves the item removal -->
                <ng-template ng-label-tmp let-item="item">
                    <span class="ng-value-custom-icon" (click)="dropTargetItem(item)">×</span>
                    <span class="ng-value-label" [ngClass]="{
                        'item-disabled': !item.enabled }">{{item.friendlyName}}</span>
                </ng-template>
            </ng-select>
            <!-- DEBUG -->
            <!-- <small class="form-text text-muted">Current control status:
                {{ sampleFormOrControlStatus(fh.form.controls.targets) }}</small> -->
            <!-- DEBUG -->
            <app-validation-message [control]="fh.form.controls.targets">
            </app-validation-message>
        </div>
        <div *ngIf="selectedScript">
            <div class="form-group">
                <hr class="my-4">
            </div>
            <!-- 
                Starting here the script parameters 
                ========================================================
            -->
            <label class="mb-2"><strong>Parameter values:</strong></label>
            <div *ngIf="selectedScript.parameters && selectedScript.parameters.length > 0; else noParams">
                <div formArrayName="values" *ngFor="let child of parameterValues.controls; let i=index">
                    <label [ngClass]="{
                        'data-required': isParamRequired(child.controls.name.value)
                    }" >${{child.controls.name.value}}</label>
                    <div class="param-description">{{getParamDescription(child.controls.name.value)}}</div>
                    <ng-container [formGroupName]="i">
                        <!-- Propel custom parameters requires specific treatment -->
                        <div *ngIf="isPropelParameter(child.controls.name.value); else otherParameterTypes" class="form-group">
                            <ng-select #credentials [items]="allCredentials" [multiple]="true" [closeOnSelect]="false"
                                [clearSearchOnAdd]="true" [searchable]="true" bindValue="_id" bindLabel="name"
                                clearAllText="Clear" [compareWith]="compareFn"
                                placeholder="Select the credentials you will need in the script."
                                formControlName="value">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-custom-icon" (click)="dropCredentialItem(item)">×</span>
                                    <span class="ml-1 menu-icon"
                                        [ngClass]="{
                                            'icon-credential-windows': getCredentialType(item.name) == credentialTypes.Windows,
                                            'icon-credential-aws': getCredentialType(item.name) == credentialTypes.AWS,
                                            'icon-credential-apikey': getCredentialType(item.name) == credentialTypes.APIKey
                                        }"></span>
                                    <span class="ng-value-label" [ngClass]="{
                                                'item-disabled': false }">{{item.name}}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                        <!-- Parameters of native array types, also required specific controls: -->
                        <ng-template #otherParameterTypes>
                            <div [ngSwitch]="child.controls.nativeType.value">
                                <div *ngSwitchCase="'Array'" class="form-group">
                                    <div class="d-flex">
                                        <!-- "id" and "title" will be used internally to locate 
                                            the component and parameter to add new items. -->
                                        <ng-select #ngSelectArrays
                                            [id]="i" [title]="child.controls.name.value" 
                                            [items]="getValidSet(child.controls.name.value)" 
                                            [multiple]="true"
                                            [closeOnSelect]="false" [clearSearchOnAdd]="true" 
                                            [searchable]="false" clearAllText="Clear"
                                            [compareWith]="compareFn" placeholder="Select all the text" 
                                            formControlName="value" class="w-100">
                                            <ng-template *ngIf="!hasValidSet(child.controls.name.value)" ng-footer-tmp>
                                                <div class="cursor-pointer" (click)="addNewValue(i)">
                                                    <i class="fas fa-plus mr-2"></i>Add a new value
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'Boolean'" class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <label class="mr-2 mt-1 text-mini">$false</label>
                                        <mat-slide-toggle color="primary" formControlName="value">
                                        </mat-slide-toggle>
                                        <label class="ml-2 mt-1 text-mini">$true</label>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'Date'" class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <input type="datetime-local" class="form-control" 
                                        formControlName="value">
                                    </div>
                                </div>
                                <div *ngSwitchDefault class="form-group">
                                    <div *ngIf="!hasValidSet(child.controls.name.value); else withValidSet">
                                        <input type="text" class="form-control" formControlName="value"
                                            [placeholder]="getPlaceHolderText(child.controls.nativeType.value)">
                                        <div *ngIf="nativeTypeIsLiteral(child.controls.nativeType.value)" class="param-literal">This value will be trated as literal when passing to the script, so be careful...</div>
                                    </div>
                                    <ng-template #withValidSet>
                                        <ng-select [items]="getValidSet(child.controls.name.value)" [multiple]="false"
                                            bindValue="value" bindLabel="label" [closeOnSelect]="true"
                                            [clearSearchOnAdd]="true" [searchable]="true" clearAllText="Clear"
                                            placeholder="This parameter has a valid set of values defined. Please select one from this list."
                                            formControlName="value">
                                        </ng-select>
                                    </ng-template>
                                    <!-- DEBUG -->
                                    <!-- <small class="form-text text-muted">Current control status:
                {{ sampleFormOrControlStatus(child.controls.value) }}</small> -->
                                    <!-- DEBUG -->
                                </div>
                            </div>
                        </ng-template>
                        <app-validation-message [control]="child.controls.value">
                        </app-validation-message>
                    </ng-container>
                </div>
            </div>
            <ng-template #noParams>
                <div class="ml-2">The script has no parameters defined.</div>
            </ng-template>
        </div>


        <!-- <pre>Is a quick task: {{ isQuickTask }}</pre>
        <pre>Is Form Valid: {{ fh.form.valid }}</pre>
        <pre>{{fh.form.value | json }}</pre> -->


    </form>
</div>